<html><head>
<title>Stuart Cameron: personal website</title>
<link rel="stylesheet" href="style.css">
<!--
This page was created using a Python script at 
{{ script_path }}
and template at 
{{ template_path }}
-->
</head><body id="top">
<nav></nav>
<div id="toplink"><a href="#top">^ Top</a></div>
<div id="main">{{ main }}</div>
<script src="script.js"></script>
</body></head>