<html><head>
<title>Stuart Cameron: personal website</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">

</head><body id="top">
<nav id="left-nav"></nav>
<div id="top-link"><a href="#top">^ Top</a></div>
<main>{{ main }}</main>
<div id="display-mode-indicator"></div> <!-- this div is only to indicate the display mode to the javascript -->
<script src="script.js"></script>
</body></head>