<html><head>
<title>Stuart Cameron</title>
<style type="text/css">
{% include "style.css" without context %}
</style>
<!--
This page was created using a Python script at 
{{ script_path }}
and template at 
{{ template_path }}
-->
</head><body>
{{ test_content }}
</body></head>