body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

main {
  padding: 0 1.5em;
}
#left-nav {display: none}
#top-link {display: none}
#left-nav ul {
  padding-left: 0; 
  margin: 0 16px;
}
#left-nav li {
  list-style-type: none; 
  padding: 3px 0 3px 0
}
#left-nav li.selected {
  font-weight: bold;
}

#inline-nav {}
#display-mode-indicator {display: none; width: 0px;}

h1, h2, h3 {margin: 16px 0 10px 0;}
h1 {
 padding: 0; font-weight: normal;
}
h2 {font-weight: normal; color: darkred;padding-top: 1.5em; }
h3 {font-weight: bold;color: darkred;}

main li {
  line-height: 140%;
  margin: 0 0 .5em 0;
}
main p {
  line-height: 140%;
  margin: 0 0 1em 0;
}
#big-block {
  height: 800px;
}
@media only screen and (min-width: 768px) {
  #left-nav {
    position: fixed;
    width: 10em;
    display: block;
    }
  #inline-nav {
    display: none
  }
  main {
    margin: 0 0 0 10em;
    max-width: 40em;
  }
  #top-link {
    display: block;
    position: fixed;
    left: 16px; bottom: 16px;
  }
  #display-mode-indicator {width: 1px;}

}

@media only screen and (min-width: 60em) {
  #left-nav {
    position: fixed;
    width: 10em;
    display: block;
    }
  #inline-nav {
    display: none
  }
  main {
    /*position: absolute;*/
    /*left: 10em;*/
    margin: 0 auto;
    max-width: 40em;
  }
  #top-link {
    display: block;
    position: fixed;
    left: 16px; bottom: 16px;
  }
  #display-mode-indicator {width: 2px; }

}

