body {
  font-family: Roboto, Arial, sans-serif
}
#left-nav {display: none}
#left-nav ul {
  padding-left: 0; 
  margin: 16px
}
#left-nav li {
  list-style-type: none; 
  padding: 3px 0 3px 0
}
#inline-nav {}

h1, h2, h3 {margin: 16px 0 10px 0;}
h1 {
 padding: 0; font-weight: normal;
}
h2 {font-weight: normal; color: darkred;padding-top: 1.5em; }
h3 {font-weight: bold;color: darkred;;}

#top-link {display: none}
main li {
  line-height: 140%;
  margin: 0 0 .5em 0;
}
p {
  line-height: 140%;
  margin: 0 0 1em 0;
}



@media only screen and (min-width: 768px) {
  #left-nav {
    position: fixed;
    width: 220px;
    display: block;
    }
  #inline-nav {
    display: none
  }
  main {
    position: absolute;
    left: 260px;
    max-width: 40em;
  }
  #top-link {
    display: block;
    position: fixed;
    bottom: 20px;
  }
  #big-block {
    height: 800px;
  }
}
