body {font-family: Roboto, Arial, sans-serif}

nav ul {padding-left: 0; margin: 16px}
nav li {list-style-type: none; padding: 3px 0 3px 0}
#toplink {
  position: fixed;
  bottom: 20px;
}
h1, h2, h3 {margin: 16px 0 10px 0;}
h1 {
 padding: 0; font-weight: normal;
}
h2 {font-weight: normal; color: darkred;padding-top: 1.5em; }
h3 {font-weight: bold;color: darkred;;}

@media only screen and (min-width: 650px) {
  nav {
    position: fixed;
    width: 220px;
    }
  #main {
    position: absolute;
    left: 260px;
    max-width: 40em;
  }
  #big-block {
    height: 800px;
  }
}

#main li {
  line-height: 140%;
  margin: 0 0 .5em 0;
}
p {
  line-height: 140%;
  margin: 0 0 1em 0;
}

#country-statistics-table {
  border: solid 2px black;
}
#country-statistics-table td  {
  border: solid 1px grey;
  font-size: 12px;
  padding: 5px 10px;
}
#statistics-note {
  font-size: 12px;
  font-style: italic;
}
.meta-section li {
  margin-bottom: 6pt;
  line-height: 140%;
}
button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 3x;
    border-radius: 3px;
    cursor: pointer;
  }
  
button.pressed {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
  }
  